*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: "Poppins",sans-serif;
}

.navbar{
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1% 10%;
    z-index: 10;
}

.navbar_netflix{
    width: 160px;
    height: 500%;
}

.navbar_items{
    display: flex;
    gap: 20px;
}

.logo{
    width: 100%;
    height: 100%;
}

.language_dropdown{
    background: transparent;
    border: none;
    color: white;
    align-items: center;
}

.dropdown_container{
    border: 1px solid gray;
    padding: 0.4rem;
    border-radius: 4px;
    width: 110px;
    height: 35px;
    background: rgba(0,0,0,0.4);
}

.signin_button{
    border: #dc030f;
    background-color: #dc030f;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    height: 35px;
    width: 80px;
}

.hero_bg_image_container{
    width: 100%;
    height: 100%;
}

.hero_bg_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero_bg_overlay{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 125%;
    background: rgba(0,0,0,0.4);
}

.hero_card{
    position: absolute;
    top: 40%;
    left: 17.5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.hero_title{
    font-weight: 700;
    font-size: 3rem;
}

.hero_subtitle{
    font-weight: 400;
    font-size: 1.5rem;
    padding: 5px;
}

.hero_description{
    font-size: 1.2rem;
    font-weight: 400;
    padding: 10px;
}

.space{
    padding: 0;
}

.email{
    width: 470px;
    height: 60px;
    color: inherit;
    font-size: large;
    filter: blur(100%);
    padding: 0.25rem 0.5rem;
    background: transparent;
    background-color: field;
    border-radius: 5px;
    border-color: internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    fill-opacity: 100%;
}

.get_started{
    font-size: 145%;
    width: 180px;
    height: 60px;
    background-color: #dc030f;
    border: 1px solid #dc030f;
    color: white;
    border-radius: 3px;
    margin-left: 0.5rem;
}

.card-1,
.card-2,
.card-3,
.card-4,
.footer,
.footer a{
    border-top: 8px solid rgb(69, 69, 69);
    border-collapse: collapse;
}

.card-1{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
    font-size: 130%;
    box-sizing: content-box;
}

.desc-1{
    padding-left: 80px;
}

.card-1 video{
    position: absolute;
    width: 100%;
    bottom: 2%;
    height: 100%;
    left: 18%;
    max-width: 100%;
    max-height: 100%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}

.card-1 img{
    grid-column: 2/2;
    grid-row: 1/2;
}

.style-cards h1{
    font-size: 3rem;
    padding: 1rem;
    padding-left: 0;
}

.card-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding: 25px 45px 50px;
    font-size: 130%;
}

.desc-2{
    padding: 10px;
    align-items: center;
    padding-right: 80px;
}

.feature_2_image_container {
    width: 50%;
    position: relative;
}

.feature_image {
    width: 100%;
}

.feature_2_poster_container{
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 16em;
    display: flex;
    align-items: center;
    background-color: black;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    height: 80px;
    padding: 0.25rem 0.6rem;
    gap: 15px;
}
  
.poster_container{
    width: 20%;
    padding-top: 3px;
}
  
.poster{
    width: 100%;
    height: 100%;
    padding: 3px;
}

.poster_details{
    width: 60%;
}

.poster_details > h4{
    font-size: 15px;
    font-weight: 500;
}

.poster_details > h6{
    font-size: 14px;
    font-weight: 400;
    color: rgb(63, 63, 246);
}
  
.download_gif_container{
    width: 30%;
    height: 100%;
}

.gif{
    width: 100%;
    height: 100%;
}

.card-3{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
    font-size: 130%;
}

.desc-3{
    padding-left: 80px;
    padding-right: 20px;
}

.card-3 img{
    width: 110%;
    grid-column: 2/2;
    grid-row: 1/2;
}

.card-3 video{
    position: relative;
    top: -87px;
    left: 125px;
    width: 65%;
    height: 78%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}

.card-4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding: 25px 45px 50px;
    font-size: 130%;
}

.FAQ-accordian{
    width: 100%;
}

.FAQ-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 22px;
    font-size: 25px;
    background-color: #303030;
    border: 1px solid #303030;
    color: white;
}

.FAQ-visible{
    background-color: #303030;
    border-top: 1px solid black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.FAQ-visible > p{
    margin: 1rem;
    font-size: 21.7px;
    padding: 0.5rem;
}

.FAQ-container{
    border-top: 8px solid #222;
    padding: 2rem 0;
}

.FAQ-heading{
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    margin: 1rem 3rem;
}

.FAQ-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 160px;
    padding-right: 160px;
}

.FAQ-email{
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 50px;
    padding-left: 25%;
    align-items: center;
}

.email-form-container{
    padding: 5px;
}

.email-input{
    width: 470px;
    height: 60px;
    color: white;
    font-size: large;
    padding: 0.25rem 0.5rem;
    align-items: center;
    background: transparent;
    border-radius: 3px;
    border-color: internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    fill-opacity: 100%;
}

.FAQ_get_started{
    font-size: 140%;
    width: 190px;
    height: 60px;
    background-color: #dc030f;
    border: 1px solid #dc030f;
    color: white;
    border-radius: 3px;
    margin-left: 0.5rem;
}

.footer,
.footer a{
    color: #999;
    font-size: 0.9rem;
}

.footer-heading{
    margin-bottom: 1.5rem;
    padding-left: 160px;
    padding-top: 60px;
}

.footer .footer-col{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
    padding-left: 160px;

}

.footer li{
    line-height: 2.5;
}

.no-bullets{
    list-style-type: none;
    text-decoration: underline;

}

.footer_lang_dropdown{
    background: transparent;
    border: none;
    color: white;
    margin-left: 5px;
    padding: 0.1rem;
    width: 100px;
    height: 25px;
    font-size: 14px;
}

.lang_dropdown {
    display: flex;
    align-items: center;
    background: rgba(0,0,0,0.4);
    border: 1px solid gray;
    border-radius: 4px;
    width: 110px;
    padding: 5px;
}

.footer-language{
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-left: 160px;
}

.underline{
    text-decoration: underline;
}

.fa-globe{
    color: white;
    font-size: 15px;
}

.footer-title{
    padding-bottom: 60px;
    padding-top: 25px;
    padding-left: 160px;
}